
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    height: 9rem;
    h1 {
        font-size: 4rem;
        font-family: $font-stack-secondary;
        padding: 2.5rem;
        color: $font-color;
    }
}

.colors {
    @include flex-column;


    .color {
        height: 100%;
        width: 15rem;
        @include flex-column;
        margin: .5rem;

        &__details {
            font-family: $font-stack-primary;
            font-size: 1.5rem;
            padding: .5rem;
            @include border;
            width: 15rem;
            color: $font-color;
        }

        &__one {
           @include color($color-one);
        }

        &__two {
            @include color($color-two);
        }

        &__three {
            @include color($color-three);
        }

        &__four {
            @include color($color-four);
        }
    }

}

.shades {
    @include flex-column;
    margin-top: 2rem;

    .shade {
        @include flex-column;
        width: 15rem;
        margin: .5rem;

        &__color {
            @include flex-row;

            &-1 {
                @include shade($color-one);
    
            }
    
            &-1-darken {
                @include shade(darken($color-one, $percent));
    
            }
    
            &-1-lighten {
                @include shade(lighten($color-one, $percent));
    
            }
    
            &-2 {
                @include shade($color-two);
    
            }
    
            &-2-darken {
                @include shade(darken($color-two, $percent));
    
            }
    
            &-2-lighten {
                @include shade(lighten($color-two, $percent));
    
            }
    
            &-3 {
                @include shade($color-three);
    
            }
    
            &-3-darken {
                @include shade(darken($color-three, $percent));
    
            }
    
            &-3-lighten {
                @include shade(lighten($color-three, $percent));
    
            }
    
            &-4 {
                @include shade($color-four);
    
            }
    
            &-4-darken {
                @include shade(darken($color-four, $percent));
    
            }
    
            &-4-lighten {
                @include shade(lighten($color-four, $percent));
    
            }
        }

        &__details {
            width: 15rem;
            text-align: left;
            font-family: $font-stack-primary;
            color: $font-color;
            font-size: 1.5rem;
            padding: 1rem;
            @include border;
        }
    }
    
}

@media screen and (min-width: 768px) {
    .colors, .shades {
        @include flex-row;
    }

}